/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define base font size for the HTML element */
html {
  font-size: 22px;
}

/* Styles for the body element */
body {
  min-height: 200px;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
  padding-bottom: 30px;
  overflow:visible;
}

/* Styles for the main container element */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  border: 1px solid mediumblue;
  margin: auto;
}

/* Styles for the header */
header {
  width: 100%;
  padding: 0 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles for the main content */
main {
  width: 100%;
  padding: 100px 100px 300px 100px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

/* Styles for the footer */
footer {
  width: 100%;
  padding: 0.55em;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
}

/* Styles for the unordered list */
ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

/* Styles for list items */
ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.item:first-child {
  margin: 0;
}

/* Styles for checkboxes within items */
.item input[type="checkbox"] {
  text-align: center;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 40px;
}


/* Styles for checkbox labels when focused */
.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

/* Styles for labels within items */
.item > label {
  font-size: 0.75rem;
  flex-grow: 0.02;
}

/* Styles for SVG icons within items */
.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
  position: relative;

}

.item svg:focus, 
.item svg:hover {
  color: red;
  outline: none;
}

/* Styles for the addForm container */
.addForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0 0;
  padding: 0 0.5rem 0.25rem ;
  border-bottom: 1px solid #eee;
 
 
}

/* Styles for the addForm label */
.addForm label {
  position: absolute;
  left: -99999px;
}

/* Styles for input fields within addForm */
.addForm input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 500px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  
}

/* Styles for the 'addItem' button */
#addItem {
  height: 40px;
  width: 300px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* Additional styles for input elements */
input {
  margin-left: 20px;
  margin-top: 40px;
}

/* Styles for buttons */
button {
  height: 40px;
  width: 41px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-left: 20px;
  font-size: 1rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 10px;
}

/* Styles for button hover and focus states */
button:focus, 
button:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}

/* Styles for SVG icons */
svg {
  position: absolute;
  top: 5px;
  left: 8px;
}

/* Styles for the searchForm container */
.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

/* Styles for the searchForm label */
.searchForm label {
  position: absolute;
  left: -99999px;
}

/* Styles for input fields within searchForm */
.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 500px;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
  padding-left: 170px;
  margin-left: 20px;
 margin-top: 50px;
}
